@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


header {
    padding: 16px 32px;
}

.flex1 {
    display: flex;
    align-items: center;
}

.flex1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 38px;
}

.brand {
    font-size: 24px;
    font-weight: bolder;
    vertical-align: middle;

}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 16px 32px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 18px;
}

.nav .active {
    color: #69C6BA;

}

/* first-section */
.first-section {
    background: linear-gradient(to left, rgba(14, 8, 4, 0.5), rgba(14, 8, 4, 0.5)), url(assets/banner.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text {
    text-align: center;
    color: white;
    padding: 100px;
}

.text h1 {
    font-size: 52px;
    text-transform: uppercase;
    /* padding-top: 55px; */
}

.text h3 {
    font-size: 28px;
    font-weight: normal;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #69C6BA;
    display: inline-block;
}

.form-div {
    max-width: 850px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
}

label {

    font-weight: bold;
    font-size: 14px;
}

input {

    padding: 10px;
    border: none;
}

.second-section {
    text-align: center;
    padding-top: 50px;
    background-color: #e0dfdf;
    padding-bottom: 50px;
}

.second-section h2 {
    text-transform: uppercase;
    padding: 20px 0 20px 0;
}

.txt {
    width: 900px;
    margin: 0 auto;
}

.btn {
    color: white;
    text-align: center;
    padding: 10px 20px;
    background: #69C6BA;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-flex2 {
    display: flex;
    align-items: flex-start;
}



.btn2 {
    color: white;
    text-align: center;
    background: #69C6BA;
    border: none;
    text-transform: uppercase;
    align-self: self-end;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

/* third section */

.flex3 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: fit-content;

}

.flex3 .img {
    position: relative;
    width: 50%;
    height: 520px;
    max-height: 520px;
    min-height: 300px;
    /* height: 50%; */
}

.flex3 .img img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(1);
    height: 100%;
    width: 100%;
}

.btn3 {
    color: #69C6BA;
    background-color: white;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.square {
    background: #69C6BA;
    padding: 40px 80px;
    width: 50%;
    transform: translateX(-100px);
}

.square h2 {
    font-size: 32px;
    color: white;
}

.square p {
    font-size: 16px;
    color: white;
    padding-bottom: 10px;
}

.square2 {
    transform: translateX(100px);
    background: #C66995;
    z-index: 1;
}

.square2 .btn3 {
    color: #C66995;
}

/* countries section */

.img-flex {
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #69C6BA;

}

.img-flex p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.bg {
    background: #C66995;
    padding: 20px 40px;

}
/* .curve-section */

.container2{
    border:1px solid grey;
    max-width:1140px ;
    margin: 0px auto;
    margin-top: 50px;
    
}
.hotel-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}